<!-- ventana-pop-up.component.html -->
<div class="image-card" role="button" (click)="togglePopup()">
  <img src="assets/icons/card.png" alt="Añadir fotos" aria-label="Añadir fotos"/>
</div>

<div class="overlay" *ngIf="isPopupVisible">
  <div class="popup">
    <div class="popup-header">
      <button class="close-button" (click)="togglePopup()" aria-label="Cerrar">X</button>
    </div>
    <h2>¿Qué desea hacer?</h2>
    <div class="popup-buttons">
      <button (click)="takePhoto()">Tomar Foto</button>
      <button (click)="chooseFromGallery()">Elegir de Galería</button>
    </div>
    <div style="margin-top: 20px;">
      <div *ngFor="let image of images; let i = index" style="position: relative; display: inline-block; margin: 10px;">
        <img [src]="image" [alt]="'Imagen ' + (i + 1)" style="width: 150px; height: auto;">
        <button class="button-close" (click)="removeImage(i)">X</button>
      </div>
    </div>
    <button (click)="saveImages()">Guardar Imágenes</button>
  </div>
</div>
