<div class="sidebar">
  <ul>
    <li class="Policia">
      <div class="parte1">
        <img class="logopol" src="assets/icons/logopol.png" />
      </div>
      <div class="parte2"><a>Policia Municipal Morelia</a></div>
    </li>

    <div class="lineaSuperior"></div>

    <li class="Policia">          
      <div class="parte1">
        <img class="logopol" src="assets/icons/IconCorreo.png"/>
      </div>
      <div class="parte2"><a>Correo</a></div>
    </li>

    <div class="lineaInferior"></div> 

    <li class="parte2">
      <a href="#">Catalogo Infracciones</a>
    </li>
  </ul>
</div>
<div class="content">
  <app-consulta-label></app-consulta-label>
  <app-consulta-filtro></app-consulta-filtro>
  <app-consulta-tabla-infracciones></app-consulta-tabla-infracciones>
</div>
