@media (max-width: 1080px) {
    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }
    
        50% {
            transform: translateY(-15px);
        }
    }
    
    .circle {
        /* ... otros estilos existentes ... */
        animation: float 5s ease-in-out infinite;
    }

    .main-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        /* O el alto que prefieras */
    }

    .text-container {
        margin: 0%;
        opacity: 0; /* Asegúrate de que esté inicialmente invisible */
    }

    .circle-container {
        display: flex;
        align-items: center;
    }

    #circle1 {
        position: relative;
        border-radius: 50%;
        width: 30rem;
        /* Tamaño de los círculos */
        height: 30rem;
        background-color: blue;
        /* Color de fondo de los círculos */
        left: -9rem;
        top: 17rem;
        background: linear-gradient(50.08deg, #011D4D 29.06%, #A5BFEC 80.1%);
    }

    #circle2 {
        position: relative;
        border-radius: 50%;
        width: 30rem;
        /* Tamaño de los círculos */
        height: 30rem;
        background-color: rgb(255, 0, 0);
        /* Color de fondo de los círculos */
        left: 9rem;
        top: -21rem;
        background: linear-gradient(300.08deg, #011D4D 29.06%, #011D4D 29.06%, #A5BFEC 80.1%);
        transform: rotate(105deg);
    }

    .division {
        border: none;
        height: .01rem;
        /* Ajusta el grosor de la línea */
        background-color: #000;
        /* Color de la línea */
        width: 100%;
        /* Ancho de la línea */
        margin: .1rem;
        /* Espaciado arriba y abajo y centrado horizontalmente */
        margin-top: 3rem;
    }

    .search-container {
        backdrop-filter: blur(13px);
        /* Ajusta el nivel de desenfoque como desees */
        background-color: rgba(161, 159, 159, .1);
        /* Asegúrate de tener algo de transparencia */
        border-radius: 15px;
        /* Bordes redondeados */
        padding: 3rem;
        /* Espaciado interno */
        width: 28rem;
        /* O el ancho que prefieras */
        height: 32rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .7);
        /* Sombra más pronunciada */
        margin: auto;
        /* Centrar el formulario */
        position: absolute;
        /* Posicionamiento absoluto según la imagen */
        top: 55%;
        /* Ajustar según sea necesario */
        left: 53%;
        transform: translate(-50%, -50%);
        /* Centrado exacto */
        z-index: 10;
        /* Asegúrate de que esté sobre los otros elementos */
        overflow: hidden;
        /* Asegúrate de que los pseudo-elementos no sobresalgan */
    }

    .search-container::before,
    .search-container::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        /* Para que no interfieran con la interacción del usuario */
        border-radius: 15px;
        /* Asegúrate de que coincida con el border-radius del contenedor */
    }

    /* Pseudo-elemento para el efecto de sombreado desvanecido */
    .search-container::before {
        background: radial-gradient(ellipse at top left,
                rgba(51, 51, 51, 0.3) 10%,
                transparent 50%),
            radial-gradient(ellipse at top right,
                rgba(0, 0, 0, 0.2) 0%,
                transparent 100%),
            radial-gradient(ellipse at bottom left,
                rgba(0, 0, 0, 0.2) 0%,
                transparent 100%),
            radial-gradient(ellipse at bottom right,
                rgba(225, 225, 225, 0.2) 0%,
                transparent 90%);
        z-index: 1;
    }

    /* Pseudo-elemento para el efecto de borde mixto */
    .search-container::after {
        background: linear-gradient(to left,
                rgba(255, 255, 255, 0),
                rgba(51, 51, 51, 0.1));
        z-index: 2;
        mix-blend-mode: exclusion;
        /* Esto mezclará los colores del borde con los de abajo */
    }

    .search-container img {
        width: 19rem;
        /* O el ancho que prefieras */
        height: 19rem;
        position: relative;
        /* Posicionamiento absoluto según la imagen */
        bottom: -10rem;
        /* Ajustar según sea necesario */
        left: 50%;
        transform: translate(-50%, -50%);
        /* Centrado exacto */
        z-index: 10;
        /* Asegúrate de que esté sobre los otros elementos */
    }

    .search-container h1 {
        width: 30rem;
        /* O el ancho que prefieras */
        height: 3rem;
        position: relative;
        /* Posicionamiento absoluto según la imagen */
        bottom: -1rem;
        /* Ajustar según sea necesario */
        left: 54%;
        transform: translate(-50%, -50%);
        /* Centrado exacto */
        z-index: 10;
        /* Asegúrate de que esté sobre los otros elementos */
        font-family: 'Bellota Text';
        font-weight: normal;
        font-size: 2.8rem;
    }
    .search-btn {
        position: relative; /* Posicionamiento relativo para ajustar dentro de su contenedor */
        bottom: -1rem; /* Ajusta esta medida para posicionar correctamente el botón */
        left: 50%; /* Ajusta el porcentaje para centrar el botón horizontalmente */
        transform: translateX(-50%); /* Centrado horizontal del botón respecto a su posición actual */
        z-index: 20; /* Asegurarse de que el botón esté sobre otros elementos */
        background-color: rgb(51, 51, 51); /* Fondo blanco */
        color: #000000; /* Texto negro */
        border: .1rem solid rgb(51, 51, 51); /* Borde sólido gris */
        padding: 1.5rem 6rem; /* Relleno interior para hacerlo más grande */
        font-family: 'Bellota Text';
        font-weight:400;
        font-size: 2rem; /* Tamaño de fuente */
        border-radius: .5rem; /* Bordes redondeados */
        color: white;
        cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
        transition: background-color 0.3s; /* Transición suave al cambiar el color */
    }
    
    .search-btn:hover {
        background-color: rgb(25, 25, 25); /* Cambio de color al pasar el mouse */
    }
}


/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
@media (min-width: 1081px) {
    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-15px);
        }
    }

    .circle {
        /* ... otros estilos existentes ... */
        animation: float 5s ease-in-out infinite;
    }

    .main-content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        /* O el alto que prefieras */
    }

    .text-container {
        text-align: left;
        font-family: 'Bellota Text';
        margin-bottom: 7rem;
        margin-right: 0rem;
    }

    .title {
        font-size: 2rem;
        /* Hacemos este texto más grande */
        margin-bottom: 3rem;
        /* Espacio entre el título y el subtítulo */
    }

    .subtitle {
        font-size: 1.5rem;
        /* Tamaño más pequeño para el subtítulo */
        line-height: 1;
    }

    .circle-container {
        display: flex;
        align-items: center;
    }

    #circle1 {
        position: relative;
        border-radius: 50%;
        width: 15rem;
        /* Tamaño de los círculos */
        height: 15rem;
        background-color: blue;
        /* Color de fondo de los círculos */
        left: -1rem;
        top: 8rem;
        background: linear-gradient(50.08deg, #011D4D 29.06%, #A5BFEC 80.1%);
    }

    #circle2 {
        position: relative;
        border-radius: 50%;
        width: 17rem;
        /* Tamaño de los círculos */
        height: 17rem;
        background-color: rgb(255, 0, 0);
        /* Color de fondo de los círculos */
        left: 12rem;
        top: -10rem;
        background: linear-gradient(300.08deg, #011D4D 29.06%, #011D4D 29.06%, #A5BFEC 80.1%);
        transform: rotate(105deg);
    }

    .division {
        border: none;
        height: .01rem;
        /* Ajusta el grosor de la línea */
        background-color: #000;
        /* Color de la línea */
        width: 100%;
        /* Ancho de la línea */
        margin: .1rem;
        /* Espaciado arriba y abajo y centrado horizontalmente */
        margin-top: 3rem;
    }

    .search-container img {
        width: 12rem;
        /* O el ancho que prefieras */
        height: 12rem;
        position: relative;
        /* Posicionamiento absoluto según la imagen */
        bottom: 25rem;
        /* Ajustar según sea necesario */
        left: 76%;
        transform: translate(-50%, -50%);
        /* Centrado exacto */
        z-index: 10;
        /* Asegúrate de que esté sobre los otros elementos */
    }

    .search-container h1 {
          width: 30rem;
          /* O el ancho que prefieras */
          height: 3rem;
          position: relative;
          /* Posicionamiento absoluto según la imagen */
          bottom: 30rem;
          /* Ajustar según sea necesario */
          left: 84%;
          transform: translate(-50%, -50%);
          /* Centrado exacto */
          z-index: 10;
          /* Asegúrate de que esté sobre los otros elementos */
          font-family: 'Bellota Text';
          font-weight: normal;
          font-size: 1.7rem;
      }
      .search-btn {
        position: relative; /* Posicionamiento relativo para ajustar dentro de su contenedor */
        bottom: 28rem; /* Ajusta esta medida para posicionar correctamente el botón */
        left: 62%; /* Ajusta el porcentaje para centrar el botón horizontalmente */
        transform: translateX(-50%); /* Centrado horizontal del botón respecto a su posición actual */
        z-index: 20; /* Asegurarse de que el botón esté sobre otros elementos */
        background-color: rgb(51, 51, 51); /* Fondo blanco */
        color: #000000; /* Texto negro */
        border: .1rem solid rgb(51, 51, 51); /* Borde sólido gris */
        padding: .5rem 5rem; /* Relleno interior para hacerlo más grande */
        font-family: 'Bellota Text';
        font-weight:400;
        font-size: 1rem; /* Tamaño de fuente */
        border-radius: .5rem; /* Bordes redondeados */
        color: white;
        cursor: pointer; /* Cursor en forma de mano al pasar sobre el botón */
        transition: background-color 0.3s; /* Transición suave al cambiar el color */
    }
    
    .search-btn:hover {
        background-color: rgb(25, 25, 25); /* Cambio de color al pasar el mouse */
    }
}