<div class="container">
  <div class="add-infractions">
    <div class="image-card" (click)="toggleModal()" *ngIf="mostrarBoton">
      <label for="zone">Agregar Infracciones</label>
      <img class="icono" src="assets/images/Infraccion.png" alt="Añadir infracciones" />
    </div>

    <div class="list-container" *ngIf="mostrarTabla">
      <table class="table">
        <thead>
          <tr>
            <th>Folio</th>
            <th>Artículo</th>
            <th>Fracción</th>
            <th>Inciso</th>
            <th>Motivo</th>
            <th>Observaciones</th>
            <th>Sector</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let infraccion of infracciones">
            <td data-label="Folio">{{ infraccion.folio }}</td>
            <td data-label="Artículo">{{ infraccion.articulo }}</td>
            <td data-label="Fracción">{{ infraccion.fraccion }}</td>
            <td data-label="Inciso">{{ infraccion.inciso }}</td>
            <td data-label="Motivo">{{ infraccion.motivo }}</td>
            <td data-label="Observaciones">{{ infraccion.observaciones }}</td>
            <td data-label="Sector">{{ infraccion.sector }}</td>
            <td data-label="Acciones">
              <button (click)="editarInfraccion(infraccion)">Editar</button>
              <button (click)="eliminarInfraccion(infraccion)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <app-modal-infracciones *ngIf="showPopup" (close)="toggleModal()"></app-modal-infracciones>
</div>
