
/*----------DEFINICION DE CONTENEDORES (CABECERA Y FOOTER)----*/
.contenedor-principal {
    display: flex; /* Usamos Flexbox para disposición flexible */
    flex-direction: column; /* Organizamos los contenedores verticalmente */
    justify-content: flex-start; /* Alineamos verticalmente desde el inicio */
    align-items: center; /* Alineamos horizontalmente al centro */
    width: 100%;
    max-width: 100vw; /* Asegura que el ancho no exceda el ancho del viewport */
    height: 100%;
    max-height: 100vh; /* Asegura que la altura no exceda la altura del viewport */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
    overflow-y: hidden; /* Permite el desplazamiento vertical solo si es necesario */
    margin: 0; /* Elimina cualquier margen por defecto */
    padding: 0; /* Elimina cualquier padding por defecto */
  }
 
  .contenedor-inicio {
    width: 100%; /* Aseguramos que el contenedor ocupe todo el ancho */
    padding: 1rem; /* Espaciado interno para separación */
  }
  
  
  .contenedor-final {
    width: 100%; /* Aseguramos que el contenedor ocupe todo el ancho */
    padding: 1rem; /* Espaciado interno para separación */
  }

/*-----------ELEMENTOS FONDO DECORATIVO (CIRCULOS)----------*/
#semicirculo-superior{
    position: absolute;
    width: 15.75rem; /*Ancho circulo */
    height: 15.75rem;/*Altura circulo*/
    background-color: #003366; /* Ajusta el color según tu diseño */
    border-radius: 50%;
    right:-8%;
    margin-top: 3%;
    z-index: 1000; /* Asegurar que estén detrás del contenido */
}
#semicirculo-inferior{
    position: absolute;
    width: 10.75rem; /*Ancho circulo */
    height: 10.75rem;/*Altura circulo*/
    background-color: #003366; /* Ajusta el color según tu diseño */
    border-radius: 50%;
    margin-top: 19%;
    right:-6%;
    z-index: 1000; /* Asegurar que estén detrás del contenido */
}




/*------ELEMENTOS DEL CONTENEDOR DE INICIO--------------------*/
.perfil-usuario{
    margin-top: 5%;/* Margen superior para separar los elementos dentro del contenedor*/
    display: flex;
    align-items: center;/*alineamos los elementos en el centro*/
}
#user-image{
    width: 12.25rem; /* Ancho Imagen Usuario*/
    height: 10.25rem; /* Altura Imagen Usuario */
    border-radius: 50%; /* Circular image */
    margin-left: 12.25rem;   /*Margen de separacion (izquierda)*/
}
.usuario-info{
    margin-left: 10rem; /*Margen de separacion (izquierda) de la información del usuario*/
}

#nombre{
    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    text-align: center; /* Alineamos el texto al centro horizontalmente */
    font-size: 1em; /* Tamaño del texto*/
    color: #020202; /* Color para el texto */
    font-weight: bold;
}
#marca{
    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    font-size: 1em; /* Tamaño del texto*/
    color: #020202; /* Color para el texto */
    font-weight: bold;
}
#modelo{
    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    font-size: 1em; /* Tamaño del texto*/
    color: #020202; /* Color para el texto */
    font-weight: bold;
}
#pais{
    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    font-size: 1em; /* Tamaño del texto*/
    color: #020202; /* Color para el texto */
    font-weight: bold;
}
#estado{
    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    font-size: 1em; /* Tamaño del texto*/
    color: #020202; /* Color para el texto */
    font-weight: bold;
}

/*------ELEMENTOS DEL CONTENEDOR FINAL--------------------*/
.botones-contenedor-final {
    display: flex;
    justify-content: space-evenly; /* Asegura que los elementos se distribuyan a lo largo del contenedor */
    align-items: center; /* Centra los elementos verticalmente */
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    margin-left: .5rem;
}


#historial, #infraccionar {
    flex-grow: 0; /* No permite que los botones crezcan */
    flex-shrink: 1; /* Permite que los botones se reduzcan si es necesario */
    flex-basis: auto; /* Base del tamaño del botón antes de crecer o encoger */
    padding: 0.5rem 1.5rem; /* Ajusta el relleno según necesites */
}

#historial{
    margin: 0.625rem 0; /* Márgenes arriba y abajo */
    padding: 0.3rem 4.5rem; /* Padding arriba/abajo y a los lados */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
    border: 0.125rem solid #011D4D; /* Borde del botón*/
    background-color: #011D4D; /* Color de fondo del botón */
    border-radius: 0.4em; /* Bordes redondeados para suavizar el botón */
    transition: all 0.2s ease-in-out; /* Transición suave para cambios */

    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    text-align: center; /* Alineamos el texto al centro horizontalmente */
    font-size: 1em; /* Tamaño del texto*/
    color: #FFF; /* Color para el texto */
    font-weight: bold;    
}
/* Efecto hover para 'historial' */
#historial:hover {
    background-color: #004080; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

#infraccionar{
    margin: 0.625rem 0; /* Márgenes arriba y abajo */
    padding: 0.3rem 4rem; /* Padding arriba/abajo y a los lados */
    font-size: 1rem; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de puntero */
    border: 0.125rem solid #940A0A; /* Borde del botón*/
    background-color: #940A0A; /* Color de fondo del botón */
    border-radius: 0.4em; /* Bordes redondeados para suavizar el botón */
    transition: all 0.2s ease-in-out; /* Transición suave para cambios */

    font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
    text-align: center; /* Alineamos el texto al centro horizontalmente */
    font-size: 1em; /* Tamaño del texto*/
    color: #FFF; /* Color para el texto */
    font-weight: bold;   
}

#infraccionar:hover {
    background-color: #c42b2b; /* Cambia el color de fondo al pasar el ratón */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
}

#carImage {
    width: 15%; /* Ancho relativo, ajustable */
    height: 15%; /* Altura para mantener la consistencia con el ancho */
    border-radius: 1rem; /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento vertical y difuminado */
}

/*-------------------RESPONSIVIDAD--------------------*/
/*-----CIRCULOS  RESPONSIVIDAD------------------*/
/* Reglas para pantallas pequeñas (hasta 480px) */
@media (max-width: 1080px) {
    #semicirculo-superior {
        width: 30rem; /* Reducir el ancho */
        height: 30rem; /* Reducir la altura */
        right: -57%; /* Cambiar la posición para que no salga de la vista */
        top: 35rem;
        overflow: hidden;
        position: relative;
    }

    #semicirculo-inferior {
        width: 20rem; /* Reducir el ancho */
        height: 20rem; /* Reducir la altura */
        right: 90%; /* Ajustar posición derecha */
        top: 50rem;
        overflow: hidden;
    }

    .contenedor-inicio {
        margin-top: -25rem;
      }

    .botones-contenedor-final {
        display: flex;
        flex-direction: column; /* Cambia la disposición a columna */
        justify-content: center; /* Centra los elementos verticalmente */
        align-items: center; /* Centra los elementos horizontalmente */
        width: 100%; /* Ocupa todo el ancho del contenedor padre */
        margin-left: 0; /* Ajustar si es necesario */
    }
    
    #historial, #infraccionar {
        flex-grow: 0; /* No permite que los botones crezcan */
        flex-shrink: 1; /* Permite que los botones se reduzcan si es necesario */
        flex-basis: auto; /* Base del tamaño del botón antes de crecer o encoger */
        padding: 0.5rem 1.5rem; /* Ajusta el relleno según necesites */
    }
    
    #historial{
        margin: 2rem; /* Márgenes arriba y abajo */
        padding: 1.5rem 6rem; /* Padding arriba/abajo y a los lados */
        font-size: 2rem; /* Tamaño de fuente */
        cursor: pointer; /* Cursor de puntero */
        border: 0.125rem solid #011D4D; /* Borde del botón*/
        background-color: #011D4D; /* Color de fondo del botón */
        border-radius: 0.4em; /* Bordes redondeados para suavizar el botón */
        transition: all 0.2s ease-in-out; /* Transición suave para cambios */
        margin-top: 10rem;
        font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
        text-align: center; /* Alineamos el texto al centro horizontalmente */
        color: #FFF; /* Color para el texto */  
    }
    /* Efecto hover para 'historial' */
    #historial:hover {
        background-color: #004080; /* Cambia el color de fondo al pasar el ratón */
        transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
    }
    
    #infraccionar{
        margin: 0.625rem 0; /* Márgenes arriba y abajo */
        padding: 1.5rem 4.5rem; /* Padding arriba/abajo y a los lados */
        font-size: 2rem; /* Tamaño de fuente */
        cursor: pointer; /* Cursor de puntero */
        border: 0.125rem solid #940A0A; /* Borde del botón*/
        background-color: #940A0A; /* Color de fondo del botón */
        border-radius: 0.4em; /* Bordes redondeados para suavizar el botón */
        transition: all 0.2s ease-in-out; /* Transición suave para cambios */
        font-family: 'Bellota Text', sans-serif; /* Aplicamos la fuente "Bellota Text" */
        text-align: center; /* Alineamos el texto al centro horizontalmente */
        color: #FFF; /* Color para el texto */
        font-weight: bold;
    }
    
    #infraccionar:hover {
        background-color: #c42b2b; /* Cambia el color de fondo al pasar el ratón */
        transform: scale(1.05); /* Aumenta ligeramente el tamaño del botón */
    }
    
    #carImage {
        width: 50%; /* Ancho relativo, ajustable */
        height: 50%; /* Altura para mantener la consistencia con el ancho */
        border-radius: 1rem; /* Borde redondeado */
        margin-top: 7rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra con desplazamiento vertical y difuminado */
    }
}

/* Reglas para pantallas medianas (481px a 768px) */
@media (min-width: 1081px) and (max-width: 768px) {
    #semicirculo-superior {
        width: 10rem; /* Ajustar ancho para pantallas medianas */
        height: 10rem; /* Ajustar altura */
        right: -7%; /* Cambiar la posición para que encaje mejor */
        margin-top: 2rem; /* Ajustar el margen superior */
    }

    #semicirculo-inferior {
        width: 7rem; /* Ajustar ancho para pantallas medianas */
        height: 7rem; /* Ajustar altura */
        right: -7%; /* Ajustar posición derecha */
        margin-top: 25%;

    }
}
/*-----CONTENEDOR INICIO RESPONSIVIDAD------------------*/
@media (max-width: 1080px) {
    .perfil-usuario {
        margin-top: 5rem; /* Espacio superior reducido para pantallas pequeñas */
    }

    #user-image {
        width: 25rem;  /* Ancho Imagen Usuario*/
        height: 23rem;  /*Altura Imagen Usuario */
        border-radius: 50%;  /* Imagen circular */
        margin-left: 6rem;  /*Margen de separacion (izquierda)*/
    }

    .usuario-info {
        margin-left: 2rem; /*Margen de separacion (izquierda) Informacion del usuario*/
        font-size: 1.7rem;
    }
}

/*---- Responsividad para pantallas medianas (481px a 768px) ----*/
@media (min-width: 481px) and (max-width: 768px) {
    .perfil-usuario {
        margin-top: 3%; /* Espacio superior reducido para pantallas medianas */
    }

    #user-image {
        width: 8.25rem;  /* Ancho Imagen Usuario */
        height: 7rem;  /* Altura Imagen Usuario */
        border-radius: 50%;  /* Imagen circular */
        margin-left: 2rem; /*Margen de separacion (izquierda)*/
    }

    .usuario-info {
        margin-left: 0.7rem; /*Margen de separacion (izquierda) Información del usuario*/
    }
}

/*-----CONTENEDOR FINAL RESPONSIVIDAD------------------*/
/* Reglas para pantallas pequeñas, hasta 480px */
@media (max-width: 480px) {
    .botones-contenedor-final {
        flex-direction: column; /* Alinear los botones en columna */
        gap: 0.5rem; /* Menor espacio entre elementos */
        margin-top: 5%; /* Reducir el margen superior */
    }

    #historial{
        padding: 0.3rem 3rem; /* Menos padding para ajustar al tamaño pequeño */
        font-size: 0.8rem; /* Disminuir el tamaño de fuente para que se adapte */
    }
    #infraccionar {
        padding: 0.3rem 3rem; /* Menos padding para ajustar al tamaño pequeño */
        font-size: 0.8rem; /* Disminuir el tamaño de fuente para que se adapte */
    }

    #carImage {
        width: 50%; /* Ajustar el ancho de la imagen para dispositivos pequeños */
        margin-right: 0; /* Sin margen adicional a la derecha */
        padding: 0; /* Sin espacio interno adicional */
    }
}

/* Reglas para pantallas medianas, entre 481px y 768px */
@media (min-width: 481px) and (max-width: 768px) {
    .botones-contenedor-final {
        flex-direction: row; /* Mantener disposición en fila */
        gap: 0.75rem; /* Espacio entre elementos */
        margin-top: 7%; /* Margen superior moderado */
    }

    #historial{
        padding: 0.3rem 2.5rem; /* Ajustar padding para dispositivos medianos */
        font-size: 0.9rem; /* Tamaño de fuente moderado */
    }
    #infraccionar {
        padding: 0.3rem 1.5rem; /* Ajustar padding para dispositivos medianos */
        font-size: 0.9rem; /* Tamaño de fuente moderado */
    }

    #carImage {
        width: 20%; /* Ajustar el ancho de la imagen para pantallas medianas */
        margin-right: 10%; /* Espacio adicional a la derecha */
        padding: 0 10%; /* Ajustar padding para mantener espacio interno */
    }
}