/*----- BOTÓN LADO IZQUIERDO/RETROCEDER -----*/
.boton {
  position: fixed; /* Manténemos el botón fijo en la pantalla */
  left: 0.5rem; /* Ubicación en el lado izquierdo, más cerca del borde */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  opacity: 0.8; /* Baja un poco la opacidad */
}

.boton img {
  /* Tamaño del ícono del botón */
  width: 3rem; /* Ancho ajustado para pantallas pequeñas */
  height: auto; /* Mantiene la proporción de aspecto */
  cursor: pointer; /* Indicamos que es interactivo */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave para efecto hover y opacidad */
}

.boton img:hover {
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
  opacity: 1; /* Opacidad completa al pasar el mouse */
}

/*----- BOTÓN LADO DERECHO/CONTINUAR -----*/
.Boton {
  position: fixed; /* Manténemos el botón fijo en la pantalla */
  right: 0.5rem; /* Ubicación en el lado derecho, más cerca del borde */
  top: 50%; /* Centra verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  opacity: 0.8; /* Baja un poco la opacidad */
}

.Boton img {
  /* Tamaño del ícono del botón */
  width: 3rem; /* Ancho ajustado para pantallas pequeñas */
  height: auto; /* Mantiene la proporción de aspecto */
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transición suave para efecto hover y opacidad */
}

.Boton img:hover {
  transform: scale(1.1); /* Efecto de escala al pasar el mouse */
  opacity: 1; /* Opacidad completa al pasar el mouse */
}

/* ----- RESPONSIVIDAD ----- */
@media (min-width: 481px) and (max-width: 768px) {
  .boton {
    left: 0rem; /* Botón pegado más cerca del borde izquierdo */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  }

  .boton img {
    width: 3rem; /* Ajuste de tamaño para pantallas medianas */
  }

  .Boton {
    right: 0rem; /* Botón pegado más cerca del borde derecho */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  }

  .Boton img {
    width: 3rem; /* Ajuste de tamaño para pantallas medianas */
  }
}

@media (min-width: 769px) {
  .boton {
    left: 0rem; /* Botón pegado más cerca del borde izquierdo */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  }

  .boton img {
    width: 4rem; /* Tamaño del botón para pantallas grandes */
  }

  .Boton {
    right: 0rem; /* Botón pegado más cerca del borde derecho */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
  }

  .Boton img {
    width: 4rem; /* Tamaño del botón para pantallas grandes */
  }
}
