/*----- BOTÓN LADO IZQUIERDO/RETROCEDER -----*/
.boton {
    position: fixed; /* Manténemos el botón fijo en la pantalla */
    left:0; /* Ubicación en el lado izquierdo */
    bottom: 1.25rem; /* Usamos  'bottom' para mantener una posición constante */
   
    
  }
  
  .boton img {
    /* Tamaño del ícono del botón */
    width: 6.5rem; /* Ancho */
    height: auto; /* Mantiene la proporción de aspecto */
    cursor: pointer; /* Indicamos que es interactivo */
    transition: transform 0.3s ease;/* Transición suave para efecto hover */
  }
  
  .boton img:hover {
    transform: scale(1.1);/* Efecto de escala al pasar el mouse */
  }
  
  /*----- BOTÓN LADO DERECHO/CONTINUAR -----*/
  .Boton {
    position: fixed; /* Manténemos el botón fijo en la pantalla */
    right: 0; /* Ubicación en el lado derecho */
    bottom: 1.25rem; /* Usamos  'bottom' para mantener una posición constante */
    

  }
  
  .Boton img {
    /* Tamaño del ícono del botón */
    width: 5.5rem; 
    height: auto; /* Mantiene la proporción de aspecto */
    cursor: pointer;
    margin-top: -2.6875rem; /* Ajustamos la posición para alinearse con el otro botón */
    transition: transform 0.3s ease; /* Transición suave para efecto hover */
  }
  
  .Boton img:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
  }
  
  /* ----- RESPONSIVIDAD ----- */
    @media (max-width: 480px) {
      .boton {
        position: fixed;
        right: 0; /* Botón pegado al borde derecho */
        bottom: 1rem; /* Más espacio desde la parte inferior para pantallas pequeñas */
        
        
      }

      .boton img {
          width: 6.7rem; /* Ajuste de tamaño para pantallas más pequeñas */
          
      }

      .Boton {
          bottom: 0.5rem; /* Menos espacio para pantallas más pequeñas */
      }

      .Boton img {
          width: 5.5rem; /* Ajuste de tamaño para pantallas más pequeñas */
         
      }
  }

  @media (min-width: 481px) and (max-width: 768px) {
      .boton {
        position: fixed;
        right: 0; /* Botón pegado al borde derecho */
        bottom: 8rem; /* Ajuste de espacio para pantallas medianas */
          
      }

      .boton img {
          width: 2.9rem; /* Ajuste de tamaño para pantallas medianas */
      }

      .Boton {
          bottom: 1rem; /* Ajuste de espacio para pantallas medianas */
      }

      .Boton img {
        position: fixed;
        right: 0; /* Botón pegado al borde derecho */
        bottom: 8rem; /* Ajuste de espacio para pantallas medianas */
        width: 2.5rem; /* Ajuste de tamaño para pantallas medianas */
        
          
      }
  }

  @media (min-width: 769px) {
      .boton {
          bottom: 1.25rem; /* Ajuste de espacio para pantallas grandes */
      }

      .boton img {
          width: 6.5rem; /* Tamaño del botón para pantallas grandes */
       
      }

      .Boton {
          bottom: 1.25rem; /* Ajuste de espacio para pantallas grandes */
         
      }

      .Boton img {
          width: 5.3rem; /* Tamaño del botón para pantallas grandes */
      }
  }