@media (max-width: 1080px) {

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeInElements {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .form-header {
    text-align: center;
    font-weight: bold;
    width: 20rem;
    margin-bottom: 20px;
    /* Espacio entre el título y las opciones */
    padding-bottom: 10px;
    /* Añadir un poco de espaciado debajo del encabezado */
    font-family: 'Bellota Text';
    font-size: 2rem;
  }

  .radio-group {
    display: flex;
    align-items: center;
  }

  .radio-option {
    display: inline-block;
    /* Colocar las opciones de radio en línea */
  }

  .radio-option {
    display: flexbox;
    align-items: center;
    margin: 1.8rem;
    /* Espacio entre las opciones */
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Bellota Text';
    font-weight: bold;
  }

  .radio-option input {
    width: 1.1rem;
    /* Tamaño del círculo del radio button */
    height: 1.1rem;
    /* Tamaño del círculo del radio button */
  }

  .input-field {
    width: calc(100% - 20%);
    /* Ancho completo menos el padding */
    padding: 1.5rem;
    margin-top: 3rem;
    border: .1rem solid rgb(204, 205, 204);
    /* Borde sutil */
    background-color: rgb(256, 256, 256);
    border-radius: .5rem;
    /* Bordes ligeramente redondeados */
    display: block;
    /* Asegurar que el input tome el ancho completo */
    font-family: 'Bellota Text';
    font-weight: bold;
    font-size: large;
  }

  .button-wrapper {
    text-align: center;
    /* Centrar el botón en su contenedor */
  }

  .input-wrapper {
    font-family: 'Bellota Text';
    font-size: 1.3rem;
  }

  .search-btn {
    width: 100%;
    padding: 1.5rem 1rem;
    /* Ajustar el padding para que sea más ancho */
    font-size: 1.5rem;
    /* Ajustar el tamaño de fuente si es necesario */
    margin-top: 5rem;
    /* Espacio entre el input y el botón */
    border: none;
    border-radius: .5rem;
    background-color: #333;
    /* Color del botón, ajustar a preferencia */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transición para hover */
  }

  .search-btn:hover {
    background-color: #000;
    /* Color al pasar el mouse */
  }

  .search-container {
    width: 19rem;
    /* O el ancho que prefieras */
    position: absolute;
    /* Posicionamiento absoluto según la imagen */
    top: 55%;
    /* Ajustar según sea necesario */
    left: 54%;
    transform: translate(-50%, -50%);
    /* Centrado exacto */
    z-index: 10;
    /* Asegúrate de que esté sobre los otros elementos */
    animation: fadeInElements 2s ease-in forwards;
    animation-delay: 6s; /* Ajusta este valor según cuando quieres que comience a aparecer */
    opacity: 0; /* Asegúrate de que esté inicialmente invisible */
  }
  
  .register-btn {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-btn:hover {
    background-color: #0056b3;
  }
  
  .terminate-btn {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #dc3545;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .terminate-btn:hover {
    background-color: #a71d2a;
  }
  
  .search-success {
    text-align: center;
    color: rgb(1, 5, 99);
    font-weight: bold;
  }
  
  .search-failure {
    text-align: center;
    color: rgb(1, 5, 99);
    font-weight: bold;
  }
  
  .result-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}

/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
@media (min-width: 1081px) {
  .form-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    /* Espacio entre el título y las opciones */
    padding-bottom: 10px;
    /* Añadir un poco de espaciado debajo del encabezado */
    font-family: 'Bellota Text';
    font-size: 1.5rem;
  }

  .form-header{
    margin-top: 1rem;
  }

  .radio-group {
    display: flex;
    align-items: center;
  }

  .radio-option {
    display: inline-block;
    /* Colocar las opciones de radio en línea */
  }

  .radio-option {
    display: flexbox;
    align-items: center;
    margin: 2.3rem;
    /* Espacio entre las opciones */
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-family: 'Bellota Text';
    font-weight: bold;
  }

  .radio-option input {
    width: 1rem;
    /* Tamaño del círculo del radio button */
    height: 1rem;
    /* Tamaño del círculo del radio button */
  }

  .input-field {
    width: calc(100% - 20%);
    /* Ancho completo menos el padding */
    padding: 1.5rem;
    margin-top: 3rem;
    border: .1rem solid rgb(204, 205, 204);
    /* Borde sutil */
    background-color: rgb(256, 256, 256);
    border-radius: .5rem;
    /* Bordes ligeramente redondeados */
    display: block;
    /* Asegurar que el input tome el ancho completo */
    font-family: 'Bellota Text';
    font-weight: bold;
    font-size: large;
  }

  .button-wrapper {
    text-align: center;
    /* Centrar el botón en su contenedor */
  }

  .input-wrapper {
    font-family: 'Bellota Text';

  }

  .search-btn {
    width: 100%;
    padding: .8rem 1rem;
    /* Ajustar el padding para que sea más ancho */
    font-size: 1rem;
    /* Ajustar el tamaño de fuente si es necesario */
    margin-top: 3.5rem;
    /* Espacio entre el input y el botón */
    border: none;
    border-radius: .5rem;
    background-color: #333;
    /* Color del botón, ajustar a preferencia */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Transición para hover */
  }

  .search-btn:hover {
    background-color: #000;
    /* Color al pasar el mouse */
  }

  .search-container {
    width: 17.5rem;
    /* O el ancho que prefieras */
    position: absolute;
    /* Posicionamiento absoluto según la imagen */
    top: 60%;
    /* Ajustar según sea necesario */
    left: 76%;
    transform: translate(-50%, -50%);
    /* Centrado exacto */
    z-index: 10;
    /* Asegúrate de que esté sobre los otros elementos */
  }

  .register-btn {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .register-btn:hover {
    background-color: #0056b3;
  }
  
  .terminate-btn {
    width: 100%;
    padding: .8rem 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #dc3545;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .terminate-btn:hover {
    background-color: #a71d2a;
  }
  
  .search-success {
    text-align: center;
    color: rgb(1, 5, 99);
    font-weight: bold;
  }
  
  .search-failure {
    text-align: center;
    color: rgb(1, 5, 99);
    font-weight: bold;
  }
  
  .result-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
}