@media (max-width: 1080px) {
  @keyframes slideInFromLeftAndFade {
    0%, 10% {
      opacity: 0;
      transform: translateX(-100%);
    }
    20%, 80% {
      opacity: 1;
      transform: translateX(0);
    }
    90%, 100% {
      opacity: 0;
      transform: translateX(0);
    }
  }


  @keyframes expandFromCenterAndFadeOut {
    0%, 10% {
      transform: scaleX(0);
      opacity: 0;
    }
    20%, 80% {
      transform: scaleX(1);
      opacity: 1;
    }
    90%, 100% {
      transform: scaleX(1);
      opacity: 0;
    }
  }

  @keyframes fadeInAndOut {
    0%, 10% {
      opacity: 0;
    }
    20%, 80% {
      opacity: 1;
    }
    90%, 100% {
      opacity: 0;
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  @keyframes fadeInCircles {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .circle {
    /* ... otros estilos existentes ... */
    animation: float 5s ease-in-out infinite;
    
  }

  .title {
    animation: slideInFromLeftAndFade 5s ease-out forwards;
  }

  .subtitle {
    animation: fadeInAndOut 6s ease-in forwards;
    animation-delay: 0s; /* Se inicia después de que la animación del título haya avanzado */
    /* Esperamos a que la animación del título termine */
  }

  .division {
    /* Estilos existentes... */
    background-color: #000;
    /* Color de la línea */
    height: 2px;
    /* Ajusta el grosor de la línea */
    width: 100%;
    /* Ancho de la línea */
    transform: scaleX(0);
    /* Iniciar con escala cero */
    transform-origin: center;
    /* La transformación se origina en el centro */
    animation: expandFromCenterAndFadeOut 6s ease-out forwards;
    animation-delay: 0s; /* Comienza después de que el subtítulo haya aparecido */
    
    /* Comienza después de que el texto ha terminado su animación */
  }


  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
    margin-left: 25%;
    /* O el alto que prefieras */
  }

  .text-container {
    text-align: left;
    font-family: 'Bellota Text';
    margin-top: 50rem;
    margin-left: -5rem;
  }

  .title {
    font-size: 6rem;
    /* Hacemos este texto más grande */
    margin-bottom: 3rem;
    margin-top: -15rem;
    margin-left:2rem;
    /* Espacio entre el título y el subtítulo */
  }

  .subtitle {
    font-size: 3rem;
    /* Tamaño más pequeño para el subtítulo */
    
    margin-left:2rem;
  }

  .circle-container {
    display: flex;
    align-items: center;
  }

  #circle1 {
    animation: float 5s ease-in-out infinite, fadeInCircles 2s ease-in forwards;
    animation-delay: 0s, 7s; /* Añadir retraso de 6 segundos para comenzar la visibilidad */
    opacity: 0; /* Inicialmente invisible */
    border-radius: 50%;
    width: 30rem;
    /* Tamaño de los círculos */
    height: 30rem;
    /* Color de fondo de los círculos */
    margin-top: 180%;
    margin-left: -90%;
    background: linear-gradient(50.08deg, #011D4D 29.06%, #A5BFEC 80.1%);
  }

  #circle2 {
    animation: float 5s ease-in-out infinite, fadeInCircles 2s ease-in forwards;
    animation-delay: 0s, 7s; /* Añadir retraso de 6 segundos para comenzar la visibilidad */
    opacity: 0; /* Inicialmente invisible */
    border-radius: 50%;
    width: 30rem;
    /* Tamaño de los círculos */
    height: 30rem;
    /* Color de fondo de los círculos */
    margin-bottom: -50%;
    margin-left: 25%;
    background: linear-gradient(300.08deg, #011D4D 29.06%, #011D4D 29.06%, #A5BFEC 80.1%);
    transform: rotate(105deg);
  }

  .division {
    border: none;
    height: .01rem;
    /* Ajusta el grosor de la línea */
    background-color: #000;
    /* Color de la línea */
    width: 100%;
    /* Ancho de la línea */
    margin: .1rem;
    /* Espaciado arriba y abajo y centrado horizontalmente */
    margin-top: 3rem;
    margin-left:2rem;
  }
}

/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
/*_______________________________________________________________________________________________________*/
@media (min-width: 1081px) {
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes expandFromCenter {
    from {
      transform: scaleX(0);
      opacity: 0;
      /* La línea comienza invisible */
    }

    to {
      transform: scaleX(1);
      opacity: 1;
      /* La línea se hace visible al final */
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }
  }

  .circle {
    /* ... otros estilos existentes ... */
    animation: float 5s ease-in-out infinite;
  }

  .title {
    animation: slideInFromLeft 1s ease-out forwards;
    
  }

  .subtitle {
    animation: fadeIn 2s ease-in forwards;
    animation-delay: 0s;
    /* Esperamos a que la animación del título termine */
  }

  .division {
    /* Estilos existentes... */
    background-color: #000;
    /* Color de la línea */
    height: 2px;
    /* Ajusta el grosor de la línea */
    width: 100%;
    /* Ancho de la línea */
    transform: scaleX(0);
    /* Iniciar con escala cero */
    transform-origin: center;
    /* La transformación se origina en el centro */
    animation: expandFromCenter 3s ease-out forwards;
    animation-delay: 0s;
    /* Comienza después de que el texto ha terminado su animación */
  }


  .main-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* O el alto que prefieras */
  }

  .text-container {
    text-align: left;
    font-family: 'Bellota Text';
    margin-bottom: 7rem;
    margin-right: 0rem;
  }

  .title {
    font-size: 2rem;
    /* Hacemos este texto más grande */
    margin-bottom: 3rem;
    /* Espacio entre el título y el subtítulo */
  }

  .subtitle {
    font-size: 1.5rem;
    /* Tamaño más pequeño para el subtítulo */
    line-height: 1;
  }

  .circle-container {
    display: flex;
    align-items: center;
  }

  #circle1 {
    position: relative;
    border-radius: 50%;
    width: 15rem;
    /* Tamaño de los círculos */
    height: 15rem;
    background-color: blue;
    /* Color de fondo de los círculos */
    left: -1rem;
    top: 8rem;
    background: linear-gradient(50.08deg, #011D4D 29.06%, #A5BFEC 80.1%);
  }

  #circle2 {
    position: relative;
    border-radius: 50%;
    width: 17rem;
    /* Tamaño de los círculos */
    height: 17rem;
    background-color: rgb(255, 0, 0);
    /* Color de fondo de los círculos */
    left: 12rem;
    top: -10rem;
    background: linear-gradient(300.08deg, #011D4D 29.06%, #011D4D 29.06%, #A5BFEC 80.1%);
    transform: rotate(105deg);
  }

  .division {
    border: none;
    height: .01rem;
    /* Ajusta el grosor de la línea */
    background-color: #000;
    /* Color de la línea */
    width: 100%;
    /* Ancho de la línea */
    margin: .1rem;
    /* Espaciado arriba y abajo y centrado horizontalmente */
    margin-top: 3rem;
  }
}