<div class="content">
    <div class="icon-line-container">
      <img
        src="assets/images/checking.png"
        alt="Icono de coche de policía"
        class="icon"
      />
      <span class="dots"></span>
      <img src="assets/images/iconPatrulla.png" alt="Icono de bandera" class="icon" />
      <span class="dots"></span>
      <img
        width="80"
        src="assets/images/stop.png"
        alt="Icono de señal de stop"
        class="icon"
      />
    </div>
  
    <!-- Formulario -->
    <h1>¡Sólo un paso más!</h1>