<app-nav-bar></app-nav-bar>
<div class="main-content">
    <div class="text-container">
        <p class="title">¡Comencemos!</p>
        <p class="subtitle">Ingresa los datos requeridos <br> sobre el vehículo.</p>
        <hr class="division">
    </div>
    <div class="circle-container">
        <div class="circle" id="circle1"></div>
        <div class="circle" id="circle2"></div>
    </div>
</div>
<div class="search-container">
</div>
<div class="search-container1">
    <h1>Vehículo Encontrado</h1>
    <img src="assets/icons/check.png" alt="correcto">
</div>

    