  @keyframes float {

      0%,
      100% {
          transform: translateY(0);
      }

      50% {
          transform: translateY(-15px);
      }
  }

  .circle {
      /* ... otros estilos existentes ... */
      animation: float 5s ease-in-out infinite;
  }

  .main-content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100vh;
      /* O el alto que prefieras */
  }

  .text-container {
      text-align: left;
      font-family: 'Bellota Text';
      margin-bottom: 7rem;
      margin-right: 8rem;
  }

  .title {
      font-size: 3.5rem;
      /* Hacemos este texto más grande */
      margin-bottom: 3rem;
      /* Espacio entre el título y el subtítulo */
  }

  .subtitle {
      font-size: 2rem;
      /* Tamaño más pequeño para el subtítulo */
      line-height: 1;
  }

  .circle-container {
      display: flex;
      align-items: center;
  }

  #circle1 {
      position: absolute;
      border-radius: 50%;
      width: 19rem;
      /* Tamaño de los círculos */
      height: 19rem;
      background-color: blue;
      /* Color de fondo de los círculos */
      left: 57rem;
      top: 29rem;
      background: linear-gradient(50.08deg, #011D4D 29.06%, #A5BFEC 80.1%);
  }

  #circle2 {
      position: absolute;
      border-radius: 50%;
      width: 20rem;
      /* Tamaño de los círculos */
      height: 20rem;
      background-color: rgb(255, 0, 0);
      /* Color de fondo de los círculos */
      left: 88rem;
      top: 10rem;
      background: linear-gradient(300.08deg, #011D4D 29.06%, #011D4D 29.06%, #A5BFEC 80.1%);
      transform: rotate(-105deg);
  }

  .division {
      border: none;
      height: .01rem;
      /* Ajusta el grosor de la línea */
      background-color: #000;
      /* Color de la línea */
      width: 100%;
      /* Ancho de la línea */
      margin: .1rem;
      /* Espaciado arriba y abajo y centrado horizontalmente */
      margin-top: 3rem;
  }

  .search-container img{
    width: 16rem; /* O el ancho que prefieras */
    height: 16rem;
    position: absolute; /* Posicionamiento absoluto según la imagen */
    top: 60%; /* Ajustar según sea necesario */
    left: 76%;
    transform: translate(-50%, -50%); /* Centrado exacto */
    z-index: 10; /* Asegúrate de que esté sobre los otros elementos */
  }
  .search-container h1{
    width: 19rem; /* O el ancho que prefieras */
    height: 3rem;
    position: absolute; /* Posicionamiento absoluto según la imagen */
    top: 40%; /* Ajustar según sea necesario */
    left: 76.3%;
    transform: translate(-50%, -50%); /* Centrado exacto */
    z-index: 10; /* Asegúrate de que esté sobre los otros elementos */
    font-family: 'Bellota Text';
    font-weight: normal;
    font-size: xx-large;
  }