.search-container {
    backdrop-filter: blur(13px); /* Ajusta el nivel de desenfoque como desees */
    background-color: rgba(161, 159, 159, .1); /* Asegúrate de tener algo de transparencia */
    border-radius: 15px; /* Bordes redondeados */
    padding: 3rem; /* Espaciado interno */
    width: 18rem; /* O el ancho que prefieras */
    height: 22rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.7); /* Sombra más pronunciada */
    margin: auto; /* Centrar el formulario */
    position: absolute; /* Posicionamiento absoluto según la imagen */
    top: 60%; /* Ajustar según sea necesario */
    left: 76%;
    transform: translate(-50%, -50%); /* Centrado exacto */
    z-index: 10; /* Asegúrate de que esté sobre los otros elementos */
    overflow: hidden; /* Asegúrate de que los pseudo-elementos no sobresalgan */
  }

.search-container::before,
.search-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none; /* Para que no interfieran con la interacción del usuario */
  border-radius: 15px; /* Asegúrate de que coincida con el border-radius del contenedor */
}

/* Pseudo-elemento para el efecto de sombreado desvanecido */
.search-container::before {
    background: radial-gradient(
      ellipse at top left,
      rgba(51, 51, 51, 0.3) 10%,
      transparent 50%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(0, 0, 0, 0.2) 0%,
      transparent 100%
    ),
    radial-gradient(
      ellipse at bottom left,
      rgba(0, 0, 0, 0.2) 0%,
      transparent 100%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgba(225, 225, 225, 0.2) 0%,
      transparent 90%
    );
    z-index: 1;
  }

  /* Pseudo-elemento para el efecto de borde mixto */
.search-container::after {
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(51, 51, 51, 0.1)
    );
    z-index: 2;
    mix-blend-mode:exclusion; /* Esto mezclará los colores del borde con los de abajo */
  }