/*Contenedor pdf visualizacion infraccion*/
.summary{
  margin-left: 15%;
}


/* Iconos y puntos */
.content {
  padding: 0; /* No padding initially for better mobile view */
  max-width: 60rem; /* Adaptable max-width based on root font size */
  margin: 5rem auto; /* Responsive vertical spacing */
}

.icon-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6.25rem; /* Responsive padding */
}

.icon {
  width: 3.125rem; /* Icon size adjusted with rem */
  height: auto;
  margin: 0 0.0625rem; /* Slight margin for separation */
}

.dots {
  flex-grow: 1;
  margin: 0 0.625rem; /* Responsive spacing */
  background-image: linear-gradient(to right, 
                                    transparent, 
                                    transparent 0.875rem, /* Responsive transparent spacing */
                                    #030303 0.9375rem, /* Responsive black line */
                                    transparent 1.25rem); /* Responsive transparent spacing after line */
  background-size: 1.25rem 100%; /* Responsive width and height of pattern */
  background-repeat: repeat-x;
  min-height: 0.3125rem; /* Responsive height of the dots line */
}

.container {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  padding: 1.25rem;
  border-radius: 0.625rem;
  max-width: 37.5rem;
  margin: auto;
  color: #333;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.summary {
  background-color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.3125rem;
  margin-bottom: 1.25rem;
}

.summary, .footer {
  flex-basis: 100%; /* 100% on mobile and smaller devices */
}

h2, p {
  margin-bottom: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.6;
  color: #666;
}

.actions {
  text-align: center;
  margin-top: 1.25rem;
  border-top: 1px solid #ccc;
  padding-top: 1.25rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12.5rem; /* Responsive height */
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  margin-top: 4.375rem;
}

.btn {
  padding: 0.9375rem 3.75rem;
  border: none;
  border-radius: 0.3125rem;
  margin: 0.3125rem; 
  background-color: #011D4D;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #011D4D;
  opacity: 0.8;
}

.btn-blue {
  background-color: #011D4D;
  color: white;
}

.btn-red {
  background-color: #940A0A;
  color: white;
}

.actions .btn {
  padding: 0.3125rem 2.25rem;
}

@media (max-width: 768px) {
  .content-container, .summary, .footer {
      flex-direction: column;
      flex-basis: auto;
  }

  .icon-line-container {
      padding: 0 2rem; /* Less padding on smaller screens */
  }
}
