
/*Iconos y puntos  */
.content {
    padding: 0 0px; /* Esto añadirá un espacio a los lados del contenido */
    max-width: 960px; /* Puedes ajustar esto según el ancho máximo que prefieras para tu contenedor */
    margin: 80px auto; /* Esto centra el contenedor y añade espacio arriba */
  }
.content.h1{
  align-items: center;
}

.icon-line-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px; /* Esto agrega un espacio de 20px a ambos lados del contenedor */
}

.icon {
  width: 50px; /* Tamaño de los íconos */
  height: auto;
  margin: 0 1px; /* Margen opcional para asegurarse de que los íconos no toquen los puntos */
}

.dots {
  flex-grow: 1;
  margin: 0 10px; /* Espacio entre los íconos y las líneas */
  background-image: linear-gradient(to right, 
  transparent, 
  transparent 14px, /* Espacio transparente antes de la línea */
  #030303 15px, /* La línea negra */
  transparent 20px); /* Espacio transparente después de la línea */
background-size: 20px 100%; /* Ancho y alto de cada repetición del patrón */

  background-repeat: repeat-x;
  min-height: 5px; /* Esto le da altura a tu línea de puntos */
}


.container {
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  color: #333;
}

.content-container {
  display: flex;
  justify-content: space-between;
  
}

h1 {
  color: #0044cc;
  text-align: center;
}

.summary {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.summary, .footer {
  flex-basis: 48%; /* Ajusta el ancho de cada columna al 48% para que se ajusten a una sola línea */
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}

.actions {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* O la altura que desees para tu contenedor */
}
.footer {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
  gap: 30px; /* Add space between buttons */
  margin-top: 70px;
}
.btn {
  padding: 15px 60px;
  border: none;
  border-radius: 5px;
  margin: 5px ; 
  background-color: #011D4D;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover {
  opacity: 0.8;
}

.btn-blue {
  background-color: #011D4D;
}

.btn-red {
  background-color: #940A0A;
}
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .summary, .footer {
    flex-basis: auto;
  }
}