<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Infraccion11</title>
  <link rel="stylesheet" href="infraccion1.component.css">
  <style>
    .checkmark {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .checkmark svg {
      width: 300px;
      height: 300px;
    }
  </style>
</head>
<body>

  <!-- Navbar al principio -->
  <app-nav-bar></app-nav-bar>

  <!-- Línea de iconos después -->
  <div class="icon-line-container">
    <img src="assets/images/iconPatrulla.png" alt="Icono de coche de policía" class="icon" />
    <span class="dots"></span>
    <img src="assets/images/bandera_roja.png" alt="Icono de bandera" class="icon" />
    <span class="dots"></span>
    <img src="assets/images/stop.png" alt="Icono de señal de stop" class="icon" />
  </div>

  <!-- El resto del contenido después de la icon-line -->
  <div class="content">
    <h1>¡Comencemos!</h1>

    <ng-container *ngIf="!isConfirmed; else confirmationCheck">
      <form class="vehicle-form" #infractorForm="ngForm" (ngSubmit)="registrarInfractor()">
        <div class="form-column">
          <!-- Elementos de la columna izquierda -->
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              class="form-control"
              [(ngModel)]="infractorData.nombre"
              name="nombre"
              placeholder="Nombre del infractor"
              required
              pattern="^[A-Za-zÁÉÍÓÚáéíóúñÑ\s]+$"
              [disabled]="isAbsent"
            />
            <div *ngIf="infractorForm.controls['nombre']?.invalid && (infractorForm.controls['nombre']?.dirty || infractorForm.controls['nombre']?.touched)">
              <small class="text-danger" *ngIf="infractorForm.controls['nombre']?.errors?.['required']">El nombre es obligatorio.</small>
              <small class="text-danger" *ngIf="infractorForm.controls['nombre']?.errors?.['pattern']">El nombre no puede contener números ni caracteres especiales.</small>
            </div>
          </div>
          <div class="form-group">
            <label>
              <input type="checkbox" (change)="toggleAbsent($event)" [(ngModel)]="isAbsent" name="ausenteCheckbox" /> Ausente
            </label>
          </div>
          <div class="form-group">
            <label for="license">Placas:</label>
            <input
              type="text"
              id="license"
              class="form-control"
              [(ngModel)]="infractorData.placas"
              name="placas"
              placeholder="Placas del vehículo"
              (ngModelChange)="onPlacasChange()"
              required
              pattern="^[A-Z0-9]{1,3}-?[A-Z0-9]{1,4}-?[A-Z0-9]{0,3}$"
              disabled
            />
            <div *ngIf="infractorForm.controls['placas']?.invalid && (infractorForm.controls['placas']?.dirty || infractorForm.controls['placas']?.touched)">
              <small class="text-danger" *ngIf="infractorForm.controls['placas']?.errors?.['required']">Las placas son obligatorias.</small>
              <small class="text-danger" *ngIf="infractorForm.controls['placas']?.errors?.['pattern']">Formato inválido. Ejemplos válidos: ABC-1234, AB-123-CD, ABC-12-34, 123-AB.</small>
            </div>
          </div>
          <div class="form-group state">
            <label for="state">Placas Estado:</label>
            <select id="state" name="state" [(ngModel)]="infractorData.estado" (ngModelChange)="setEstado($event)" required>
              <option *ngFor="let state of mexicanStates" [value]="state">{{ state }}</option>
            </select>
            <div *ngIf="infractorForm.controls['state']?.invalid && (infractorForm.controls['state']?.dirty || infractorForm.controls['state']?.touched)">
              <small class="text-danger" *ngIf="infractorForm.controls['state']?.errors?.['required']">El estado de las placas es obligatorio.</small>
            </div>
          </div>
          <div class="form-group color">
            <button type="button" (click)="openModal()">Color</button>
            <div class="selected-color-display" [style.background]="selectedColor" *ngIf="selectedColor"></div>
            <app-color-picker-modal *ngIf="isModalOpen" (colorSelected)="setColor($event)"> </app-color-picker-modal>
            <div *ngIf="selectedColorName">{{ selectedColorName }}</div>
          </div>
        </div>

        <div class="form-column">
          <!-- Elementos de la columna derecha -->
          <div class="form-group brand">
            <label for="brand">Marca:</label>
            <select id="brand" [(ngModel)]="selectedMarca" name="marca" (change)="updateLineas()">
              <option value="">Seleccionar --</option>
              <option *ngFor="let marca of marcas" [value]="marca">{{ marca }}</option>
            </select>
          </div>
          <div class="form-group linea">
            <label for="linea">Línea:</label>
            <select id="linea" [(ngModel)]="selectedLinea" name="linea" (change)="updateModelos()" [disabled]="!selectedMarca">
              <option value="">Seleccionar --</option>
              <option *ngFor="let linea of lineas" [value]="linea">{{ linea }}</option>
            </select>
          </div>
          <div class="form-group model">
            <label for="modelo">Año:</label>
            <select id="modelo" [(ngModel)]="selectedModelo" name="modelo" (change)="updateTipos()" [disabled]="!selectedLinea">
              <option value="">Seleccionar --</option>
              <option *ngFor="let modelo of modelos" [value]="modelo">{{ modelo }}</option>
            </select>
          </div>
          <div class="form-group tipo">
            <label for="tipo">Tipo:</label>
            <select id="tipo" [(ngModel)]="selectedTipo" name="tipo" (change)="updateSelectedCar()" [disabled]="!selectedModelo">
              <option value="">Seleccionar --</option>
              <option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="infractorForm.invalid">Confirmar</button>
          </div>
        </div>
      </form>
    </ng-container>

    <ng-template #confirmationCheck>
      <div class="checkmark">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
          <circle cx="26" cy="26" r="25" fill="none" stroke="green" stroke-width="2"/>
          <path fill="none" stroke="green" stroke-width="5" d="M14 27l7 7 16-16"/>
        </svg>
      </div>
    </ng-template>

    <!-- Otros componentes o elementos adicionales -->
    <app-botones-laterales></app-botones-laterales>
  </div>

</body>
</html>